replicaCount: 1

image:
  imageRegistry: "registry-2.yunna.net"
  repository: "redis"
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 6379

resources:
  limits:
    cpu: 1000m
    memory: 1024Mi
  requests:
    cpu: 500m
    memory: 512Mi

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 1Gi
  storageClass: "local"

env:
  env1:
    name: "REDIS_PASSWORD"
    value: "defaultpassword"